body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 150px;
    font-size: 65px;
}

p {
    font-size: 18px;
}

.container {
    text-align: center;
    color: white;
}

.container p {
    margin-bottom: 50px;
    color: #FFFFFF;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.top-banner {
    background: rgba(0, 0, 0, 0.6) url(/images/top-banner.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 70vh;
    background-position: center;
}

.center-text {
    width: 700px;
    margin: auto;
    text-align: center;
}

.center-text h1 {
    font-size: 45px;
    color: #121212;
}

.center-text p {
    color: #707070;
    margin-bottom: 60px;
}

.flexible-amount {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.flexible-amount h2 {
    text-align: center;
    background-color: #FAFAFA;
    width: 80px;
    padding: 30px 15px;
    margin: 0px 8px 0px 8px;
}

h2#select-item {
    color: #FF5959;
    border: 1px solid #FF5959;
    background-color: #FFEEEE;
}

.amount-text {
    border: none;
    outline: none;
}

hr {
    width: 33%;
    color: #DADADA;
    margin-bottom: 35px;
}

.flexible-container {
    display: flex;
    text-align: left;
    justify-content: center;
}

.flexible-item {
    width: 360px;
    height: 352px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
}

.flexible-item p {
    width: 340px;
    text-align: justify;
    font-size: 16px;
    color: #707070;
}

.flexible-item img {
    margin-top: 60px;
}

#box-one {
    background-color: #4f9da630;
}

#box-two {
    background-color: #ff595926;
}

#box-three {
    background-color: #FFF4D6;
}

.form-box {
    display: flex;
    background-color: #FFF4D6;
    width: 800px;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: auto;
}

.email {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #D9D9D9;
}

.sub-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    border: none;
    margin-left: -5px;
}

.footer-section {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 100px;
}

.footer-section h3 {
    font-size: 35px;
    color: #FF5959;
    padding-top: 40px;
}

.footer-section p {
    font-size: 14px;
    color: #D9DBE1;
    padding-bottom: 40px;
    margin-bottom: 0;
}