body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 150px;
    font-size: 65px;
}

p {
    font-size: 18px;
}

.container {
    text-align: center;
    color: white;
}

.container p {
    margin-bottom: 50px;
    color: #FFFFFF;
}

.donate-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.top-banner {
    background: rgba(0, 0, 0, 0.6) url(/images/donation9.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 70vh;
    background-position: center;
}

.donate-today-section h1 {
    text-align: center;
    font-size: 45px;
}

.donate-today-section p {
    text-align: center;
    color: #707070;
    margin-bottom: 60px;
}

.flexible-amount {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.flexible-amount h2 {
    text-align: center;
    background-color: #FAFAFA;
    width: 80px;
    padding: 30px 15px;
    margin: 0px 8px 0px 8px;
}

h2#select-item {
    color: #FF5959;
    border: 1px solid #FF5959;
    background-color: #FFEEEE;
}

hr {
    width: 33%;
    color: #DADADA;
    margin-bottom: 35px;
}

.donate-today-section span {
    color: #B3B3B3;
}

.donate-plan-section h1 {
    text-align: center;
    font-size: 45px;
}

.donate-plan-section p {
    text-align: center;
    color: #707070;
    margin-bottom: 60px;
}

.flexible-container {
    display: flex;
    text-align: left;
    justify-content: center;
}

.flexible-item {
    width: 360px;
    height: 352px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
}

.flexible-item p {
    width: 340px;
    text-align: justify;
    font-size: 16px;
    color: #707070;
}

.flexible-item img {
    margin-top: 60px;
}

#box-one {
    background-color: #4f9da630;
}

#box-two {
    background-color: #ff595926;
}

#box-three {
    background-color: #FFF4D6;
}